<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Platinum Gym | {{.Title}}</title>
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,800;0,900;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    {{block "styles" .}}{{end}}
</head>
<body>
    <input type="checkbox" id="menu-toggle" class="menu-toggle">
    
    <div class="aplicacion">
        {{ template "navbar" . }}

        <main class="contenido-principal" id="contenido">
            {{ template "content" . }}
        </main>

        {{ template "footer" . }}
    </div>

    {{block "scripts" .}}{{end}}
</body>
</html>
